.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1d80;
}

.container form {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.container img {
  width: 50px;
  margin-bottom: 20px;
}

.container h1 {
  margin: 0;
  color: #1e1d80;
  font-size: 1.5rem;
}

.container p {
  margin: 20px 0 50px 0;
  color: gray;
  font-size: 1rem;
}

.container form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 60%;
}

.container form button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #1e1d80;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .container form {
    width: 80%;
  }
}

/* loader */

.loader {
  font-size: 10px;
  margin-left: 20px;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #1e1d80;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
